<div class="container">
  <div class="jumbotron">
    <h1>Barker</h1>
    <% @comment.each do |comment| %>
		<p class="lead"><%= comment.id %> : <%= comment.content %></p><br>
		<% end %><br>
    <form action="/home/write" method="post">
		<div class="form-group">
      <label for="textArea" class="control-label">마음껏 짖어봐!</label>
      <textarea class="form-control" rows="3" name="content" placeholder="몽몽!"></textarea><br>
			<input type="submit" value="왈왈!" class="btn btn-lg btn-success">
    </div>
		</form>
  </div>

  <footer class="footer">
    <p>© 저작권 없음</p>
  </footer>

</div>